.score-title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 5rem;
}

.scoreboard {
  margin: auto;
  border-spacing: 0;

  td {
    padding: 0.5rem 2rem;
  }
}

thead {
  td {
    border-bottom: 1px solid black;
    font-weight: bolder;
    font-size: 2rem;
  }
}

.row-score {
  font-size: 3rem;

  .truncate {
    max-width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.text-bold {
  font-weight: bolder;
}

// WINNER PAGE

.winner-setting {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}
