* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.modal {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 1);

  .modal-body {
    display: block;
    padding: 2rem;
    min-width: 800px;
    max-width: 900px;

    border: 1px solid black;
    background-color: white;
  }
}

.hide {
  display: none;
}

#app {
}

.crossword {
  display: block;
}

.cwrow {
  display: flex;
  justify-content: center;
}

.cwcell {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
}

.dark {
  background-color: black;
}

.cwinput {
  width: 100%;
  height: 100%;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
}

.clueNumber {
  position: absolute;
  font-size: 0.8rem;
  top: 2px;
  left: 2px;
}

#submit-crossword {
  display: block;
  margin: 1rem auto;
  padding: 1rem 3rem;
  border-radius: 1rem;
  border: 2px solid greenyellow;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: hotpink;

  &:hover {
    background-color: indianred;
  }
}

.score-title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.scoreboard {
  margin: auto;
  border-spacing: 0;

  td {
    padding: 0.5rem 5rem;
  }
}

thead {
  td {
    border-bottom: 1px solid black;
    font-weight: bolder;
  }
}

.row-score {
  font-size: 3rem;

  .truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.setting {
  display: flex;
  justify-content: space-between;

  .time-setting {
    display: flex;
  }
}
